/* Begin aangeleverde code, laten staan, niet veranderen */
html, body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
}

img{
    width: 200px;
}
/* Einde aangeleverde code, laten staan, niet veranderen */
/* Vul hieronder je eigen code */
header{
    background-color: red;
}

main{
    background-color: blue;
}
h1{
    font-size: 80px;
}


h1{
    font-size: 50px;
}

